* {
    text-align: center;
}

body {
    background-color: aquamarine;

}

div {
    background-color:lightblue;
    padding: 20px;
}
div:hover::before{
    content: "Tooltip text";
    background-color:white;
    
}
 [tooltip-position="top"] {
    
}